appdirs==1.4.3
application-utility==1.3.1
attrs==19.3.0
beautifulsoup4==4.8.1
btrfsutil==1.1.1
CacheControl==0.12.5
caffeine-ng==3.4.2
chardet==3.0.4
chrome-gnome-shell==0.0.0
colorama==0.4.1
coverage==5.0
cupshelpers==1.0
distlib==0.3.0
distro==1.4.0
docopt==0.6.2
entrypoints==0.3
ewmh==0.1.6
flake8==3.7.9
gufw==19.10.0
html5lib==1.0.1
idna==2.8
importlib-metadata==0.23
Jade-Application-Kit==2.1.3
lockfile==0.12.2
louis==3.12.0
mccabe==0.6.1
more-itertools==7.2.0
msgpack==0.6.2
npyscreen==4.10.5
ordered-set==3.1.1
packaging==19.2
pacman-mirrors==4.15
pep517==0.6.0
Pillow==6.2.1
pluggy==0.13.1
progress==1.5
pwquality==1.4.2
py==1.8.0
pycairo==1.18.2
pycodestyle==2.5.0
pycups==1.9.74
pycurl==7.43.0.3
pyflakes==2.1.1
PyGObject==3.34.0
pyparsing==2.4.5
PyQt5==5.13.2
PyQt5-sip==4.19.19
pytest==5.3.2
pytest-cov==2.8.1
python-xlib==0.25
pytoml==0.1.21
pyxdg==0.26
requests==2.22.0
retrying==1.3.3
setproctitle==1.1.10
six==1.13.0
soupsieve==1.9.5
team==1.0
ufw==0.36
urllib3==1.25.7
wcwidth==0.1.7
webencodings==0.5.1
zipp==0.6.0
